.text{
    text-align: center;
    margin-bottom: 50px;
}

.text:hover{
    cursor: default;
}

.options:hover{
    cursor: pointer;
}
.options{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}